*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
body{
    background: #f8f9fc;
    color: #222;
}
/*Navbar*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: #111;
    position: sticky;
    top: 0;
}
.logo{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}
.navbar a{
    color: #ddd;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}
.navbar a:hover{
    color: #ff9800;
}
/*hero section*/
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 80px;
    background: linear-gradient(45deg,#ff9800,#ff5722);
    color: white;
    height: 90vh;
}
.btn{
    display: inline-block;
    margin-top: 20px;
    background: white;
    color: #111;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}
.btn:hover{
    color: #ff9800;
    background: #111;
}
.social i{
font-size: 25px;
}
.social i:hover{
    color: #111;
}
/*About section*/
.about-section{
    background: linear-gradient(45deg,#ff9800,#ff5722);
    color: white;
    height: 90vh;
}

.about-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    margin-top:40px;
}

.about-img{
    width:320px;
    height: 300px;
    border-radius:15px;
}

.skills ul{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

/*Contact*/
.contact-section{
    background: linear-gradient(45deg,#ff9800,#ff5722);
    color: white;
    height: 90vh;
}
.contact-form{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-form input, .contact-form textarea{
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 6px;
}
.btn{
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #ff5722;
    color: white;
    font-weight: 600;
}

/* PROJECTS */
.project-section{
    background: linear-gradient(45deg,#ff9800,#ff5722);
    color: white;
    height: 90vh;
}
.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    gap:30px;
    margin:40px 40px;
    
}

.project-card{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:.3s;
}

.project-card:hover{
    transform:translateY(-10px);
}

.project-card img{
    width:100%;
}
.project-section{
    background: linear-gradient(45deg,#ff9800,#ff5722);
    color: white;
   
}
.project-card h3{
    padding: 20px 20px;
}
.project-card p{
    padding: 20px 20px;
}

/*footer section*/
.footer{
    background: #111;
    color: #ccc;
    font-family: sans-serif;
    padding: 20px 10px;
    text-align: center;
}
.footer-line{
    width: 100%;
    height: 1px;
    background: #ccc;
    margin-bottom: 15px;
}
.footer-content p{
    margin: 5px 0;
    font-size: 14px;
}
.footer-social{
    margin: 8px 0;
}
.footer-social a{
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s;
}
.footer-social a:hover{
    color: #ff5722;
}
.footer-bottom{
    font-size: 12px;
    color: #888;
}
/* Responsive */
@media(max-width:768px){
    .footer-container{
        flex-direction:column;
        text-align:center;
    }
}

/*gallery section*/
.gallery-section {
    padding: 30px 5%;
    background: linear-gradient(45deg,#ff9800,#ff5722);
    min-height: 100vh;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
 
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease;
}

.gallery-item:hover img {
    transform: scale(1.15);
}

/* CSS FADE-IN ANIMATION */
.fade{
    opacity:0;
    animation:fadeIn 1.5s ease forwards;
}

@keyframes fadeIn{
    from{opacity:0; transform:translateY(40px);}
    to{opacity:1; transform:translateY(0);}
}

/* RESPONSIVE */
@media(max-width:800px){
    .hero{
        flex-direction:column;
        text-align:center;
    }
    .about-container, .gallery-container,.project-grid{
        flex-direction:column;
    }
    .contact-form{
        width:100%;
    }
}

